html,
body {
  background-color: #1f3d2b;
  height: 100%;
  margin: 0;
}

.main {
  height: 90%;
  text-align: center;
  color: #d4af37;
}

.about-main p {
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

.about-main h2 {
  margin-top: 16px;
}

.about-main svg {
  padding-top: 50px;
}

.nav-bar {
  height: 10%;
  border-top: 1px solid #d4af374d;
  display: flex;
  align-items: center;
}

.nav-item {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-item a {
  color: #d4af37;
  text-decoration: none;
}

.contact-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.media {
  margin-bottom: 5px;
}

.contact-details {
  font-size: large;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 26px;
}
